.statisticsHolder{
    display: flex;
    align-items: center;
    gap: 10px;
}

.histogramHolder{
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.statisticsHolder{
    display: flex;
    flex-direction: column;
}

.listenTime{
    padding: 40px;
    display: flex;
    align-items: flex-end;
}

.listenTime > div {
    vertical-align: baseline;
    margin: 0;
}

#listenDuration{
    font-size: 30px;
}

.histogram, .histogramText{
    display: inline-flex;
    position: relative;
    gap: 2px;
    width: 100%;
    background-color: #1c1a1a;
}

.histogram{
    height: 200px;
}

.histogram > div{
    background-color: #808080;
}

.histogramHolder > div > div{
    position: relative;
    flex: 1;
    align-self: flex-end;
}

.histogramText > div > p{
    text-align: center;
}

.songDurationOrder{
    background-color: #191919;
    border-radius: 10px;
}

.songDurationItem{
    display: flex;
    gap: 5px;
    padding: 10px;
    padding: 5px;
    align-items: center;
}

.songDurationItem > img{
    height: 40px;
    aspect-ratio: 1/1;
}

.songDurationItem > div{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.songDurationItem > div > div{
    position: absolute; 
    height: 40px; 
    background-color: rgba(100, 100, 100, 0.2);
}
