.statisticsHolder{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 80px;
}

.histogramHolder{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.statisticsHolder{
    display: flex;
    flex-direction: column;
}

.listenTime{
    padding: 10px 40px;
    display: flex;
    align-items: flex-end;
}

.listenTime > div {
    vertical-align: baseline;
    margin: 0;
}

#listenDuration{
    font-size: 30px;
}

.histogram, .histogramText{
    display: inline-flex;
    position: relative;
    gap: 2px;
    width: 100%;
    background-color: #1c1a1a;
}

.histogram{
    height: 200px;
}

.histogram > div{
    background-color: #808080;
}

.histogramHolder > div > div{
    position: relative;
    flex: 1;
    align-self: flex-end;
}

.histogramText > div > p{
    text-align: center;
}

.durationsHolders{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    box-sizing: border-box;
}

.songDurationOrder,
.artistDurationOrder{
    background-color: #191919;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
}

.songDurationOrderHolder,
.artistDurationOrderHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.songDurationItem,
.artistDurationItem{
    position: relative;
    display: flex;
    gap: 5px;
    padding: 10px;
    padding: 5px;
    align-items: center;
}

.songDurationItem > img,
.artistDurationItem > img{
    border-radius: 5px;
    height: 40px;
    aspect-ratio: 1/1;
}

.songDurationItem > div,
.artistDurationItem > div{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.songDurationItem > div > div,
.artistDurationItem > div > div{
    height: 40px; 
    background-color: rgba(255, 255, 255, 0.05);
}

.songDurationItem > div > p,
.artistDurationItem > div > p{
    position: absolute;
    white-space: nowrap;
    text-overflow: "...";
    width: 100%;
    overflow: hidden;
}
