.songView{
    display: flex;
    justify-content: end;
}

.toggleSongSmallLineStyle, 
.toggleSongLineStyle, 
.toggleSongBoxStyle{
    border-radius: 5px;
    background-size: 100%;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

.toggleSongSmallLineStyle{
    background-image: url("/Images/lineSmallStyleIcon.svg");
}

.toggleSongBoxStyle{
    background-image: url("/Images/boxStyleIcon.svg");
}

.toggleSongLineStyle{
    background-image: url("/Images/lineStyleIcon.svg");
}

.active{
    background-color: rgba(100, 100, 100, 0.5);
}

.song *{
    overflow: hidden;
    text-overflow: "..."
}

.song{
    width: 100%;
    height: fit-content;
    background-color: #505050;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.songName{
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artistNames{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image{
    border-radius: 10px;
}

/* #############################################################*/
/*                         SONG STYLES                          */
/* #############################################################*/
.songLineStyle, .songLineSmallStyle{
    display: flex;
    flex-direction: column;
}

.songLineStyle > .song > .firstLine,
.songLineSmallStyle > .song > .firstLine{
    position: relative;
    display: flex;
    gap: 10px;
}

.songLineStyle > .song .order,
.songBoxStyle > .song .order{
    display: none;   
}

.songLineSmallStyle .songDuration,
.songBoxStyle .songDuration{
    display: none;
}

.songContent{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.songContent .buttons{
    display: none;
    margin-top: auto;
}

.button,
.buttons > *{
    padding: 5px;
    background-color: #424242;
    border: #424242 solid 2px;
    border-radius: 5px;
}

.button:hover,
.buttons > *:hover{
    background: #353535;
}

.button:active,
.buttons > *:active{
    background: #303030;
}

/* #############################################################*/
/*                      SONG LINE STYLE                         */
/* #############################################################*/

.songLineStyle .image{
    width: 8vw; 
    aspect-ratio: 1/1;
}

.songLineStyle > .song > .playedAtHolder{
    padding: 10px;
    padding-bottom: 0px;
}

.songLineStyle > .song .buttons{
    display: flex;
    justify-content: flex-end;
}

.playedAtHolder > .playedAtInfo{
    display: flex;
    justify-content: space-between;
}

.playedAtHolder > .playedAt > *{
    display: flex;
    justify-content: space-between;
}

.playedAtHolder > .playedAtInfo > button{
    width: 30px;
    aspect-ratio: 2/1;
    background-image: url("/Images/arrowDown.svg");
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

/* #############################################################*/
/*                      SONG SMALL LINE STYLES                  */
/* #############################################################*/
.order{
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 25px;
}

.songLineSmallStyle .image{
    width: 6vw; 
    aspect-ratio: 1/1;
}

.songLineSmallStyle > .song > .playedAtHolder{
    display: none;
}

/* #############################################################*/
/*                       SONG BOX STYLE                         */
/* #############################################################*/
.songBoxStyle{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.songBoxStyle > .song{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.songBoxStyle > .song > .firstLine{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.songBoxStyle .image{
    background-size: 100px;
    width: 100%;
    background-repeat: no-repeat;
}
