*{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

:root{
    --previewTypeHeight: 45px;
    --footerHeight: 25px;
}

html, body{
    position: relative;
    height: 100%;
}

body{
    background-color: #0D1111;
    width: 100vw;
    min-height: 100vh;
}

.header{
    position: fixed;
    height: 55px;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 5px;
    background-color: gray;
    box-sizing: border-box;
    gap: 10px;
    align-items: center;
}

.header *:nth-child(1){
    margin-right: auto;
}

.contentHolder{
    display: flex;
    position: relative;
    padding-top: 55px;
    height: calc(100% - 55px);
}

.leftColumn, .rightColumn{
    background-color: #404040;
    position: fixed;
    width: 20vw;
    height: 100vh;
}

.leftColumn{
    display: flex;
    justify-content: center;
}

.rightColumn{
    right: 0;
    display: flex;
    flex-direction: column;
}

.content{
    width: 60vw;
    margin-left: 20vw;
    /* border: solid transparent 50px; */
    border-top: 0px;
    box-sizing: border-box;
}

.songsHolder{
    border: solid transparent 50px;
    gap: 25px;
    background-color: #151515;
}

.songsHolder, .statisticsHolder, .spotifyTopItemsHolder{
    position: relative;
    box-sizing: border-box;
    min-height: calc(100% - var(--footerHeight) - var(--previewTypeHeight));
    background-color: #262626;
}

.footer{
    min-height: var(--footerHeight);
    color: rgb(200, 200, 200);
    text-align: center;
    font-size: 10px;
}

.footer > p{
    padding: auto;
}

.previewType{
    width: 100%;
    height: var(--previewTypeHeight);
    background-color: #0D1010;
    display: inline-flex;
    box-sizing: border-box;
}

.previewType > *{
    text-align: center;
    align-self: flex-end;
    background-color: #202020;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
    padding: 0 10px;
    align-items: center;
    display: flex;
    border: none;
}

.previewType .selected{
    background-color: #262626;
}

@media only screen and (max-width: 1400px){
    .content{
        width: 80vw;
    }

    .rightColumn{
        display: none;
    }
}

@media only screen and (max-width: 1200px){
    .content{
        width: 70vw;
        margin-left: 30vw;
    }

    .leftColumn{
        width: 30vw;
    }
}

@media only screen and (max-width: 800px){
    .content{
        width: 100vw;
        margin-left: 0;
    }

    .leftColumn{
        display: none;
    }
}
