*{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

html, body{
    position: relative;
    height: 100%;
}

body{
    background-color: #0D1111;
    width: 100vw;
    min-height: 100vh;
}

.header{
    position: fixed;
    height: 55px;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 5px;
    background-color: gray;
    box-sizing: border-box;
    gap: 10px;
    align-items: center;
}

.header *:nth-child(1){
    margin-right: auto;
}

.contentHolder{
    display: flex;
    position: relative;
    padding-top: 55px;
    height: calc(100% - 55px);
}

.leftColumn, .rightColumn{
    background-color: #404040;
    position: fixed;
    width: 20vw;
    height: 100vh;
}

.leftColumn{
    display: flex;
    justify-content: center;
}

.rightColumn{
    right: 0;
    display: flex;
    flex-direction: column;
}

.content{
    width: 60vw;
    margin-left: 20vw;
}

.songView{
    display: flex;
    justify-content: end;
}

.toggleSongLineStyle, .toggleSongBoxStyle{
    border-radius: 5px;
    background-size: 100%;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

.toggleSongBoxStyle{
    background-image: url("/Images/boxStyleIcon.svg");
}

.toggleSongLineStyle{
    background-image: url("/Images/lineStyleIcon.svg");
}

.active{
    background-color: rgba(100, 100, 100, 0.5);
}

.songsHolder{
    position: relative;
    border: solid transparent 50px;
    box-sizing: border-box;
    min-height: calc(100% - 20px);
    gap: 25px;
}

.footer{
    min-height: 20px;
    color: rgb(200, 200, 200);
    text-align: center;
}

.song *{
    overflow: hidden;
    text-overflow: "..."
}

.song{
    width: 100%;
    height: fit-content;
    background-color: #505050;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.songName{
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artistNames{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* #############################################################*/
/*                      SONG LINE STYLE                         */
/* #############################################################*/
.songLineStyle{
    display: flex;
    flex-direction: column;
}

.songLineStyle > .song > .firstLine{
    position: relative;
    display: flex;
    gap: 10px;
}

/* i cant use round borders qwq
 * https://developer.spotify.com/documentation/design#using-our-content
*/
.songLineStyle .image{
    width: 8vw; 
    aspect-ratio: 1/1;
}

.songLineStyle > .song > .playedAtHolder{
    padding: 10px;
    padding-bottom: 0px;
}

.playedAtHolder > .playedAtInfo{
    display: flex;
    justify-content: space-between;
}

.playedAtHolder > .playedAt > *{
    display: flex;
    justify-content: space-between;
}

.playedAtHolder > .playedAtInfo > button{
    width: 30px;
    aspect-ratio: 2/1;
    background-image: url("/Images/arrowDown.svg");
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

/* #############################################################*/
/*                       SONG BOX STYLE                         */
/* #############################################################*/
.songBoxStyle{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.songBoxStyle > .song > .firstLine{
    display: flex;
    flex-direction: column-reverse;
}

.songBoxStyle .image{
    background-size: 100px;
    width: 100%;
    background-repeat: no-repeat;
}

/* ############################################################ */
/*                         day selector                         */
/* ############################################################ */
.daySelectorHolder{
    width: 100%;
    overflow: hidden;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.daySelectorHolder > .settings{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.previousMonth, .nextMonth{
    border: none;
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.previousMonth{
    background-image: url("/Images/arrow.svg");
    transform: rotate(180deg);
}

.nextMonth{
    background-image: url("/Images/arrow.svg");
    background-size: 100%;
}

.daySelector{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.daySelector > .day{
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.daySelector > div > p{
    user-select: none;
}

.daySelectorHolder > .submit{
    width: fit-content;
    margin-left: auto;
    padding: 2px;
}

.today{
    border: solid black 4px;
}

.selected{
    background-color: rgba(20, 20, 20, 0.2)!important;
}

@media only screen and (max-width: 1400px){
    .content{
        width: 80vw;
    }

    .rightColumn{
        display: none;
    }
}

@media only screen and (max-width: 1200px){
    .content{
        width: 70vw;
        margin-left: 30vw;
    }

    .leftColumn{
        width: 30vw;
    }
}

@media only screen and (max-width: 800px){
    .content{
        width: 100vw;
        margin-left: 0;
    }

    .leftColumn{
        display: none;
    }
}
